/* Variables */

/* Base styles */
* {
    
    box-sizing: border-box;
  }


h1 {
  position: relative;
  text-align: center;
}
.gif {
  position: relative;
  padding-right: 20%;
  padding-left: 20%;
  
  
}

.bandlogo {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.picture{
  width: 100%;
}
.album{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
footer{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 0;
    bottom: 0;
    justify-items: center;
}
.copyright{
  grid-column: 2/4;
}


/* Animate  */

.rotate {
  animation: rotation 3s infinite linear;
      }
    
  @keyframes rotation {
    from {
      transform: rotate(0deg);
        }
      to {
      transform: rotate(359deg);
        }
      }
    

    

body{
    background-image: url(background.png);
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
img {
    max-width: 100%;
}



/* Fonts */


/* Tablet styles */
@media screen and (min-width: 760px)
{

}

/* Desktop styles */
@media screen and (min-width: 1280px)

{

}

