/* Variables */

/* Base styles */
* {
    
    box-sizing: border-box;
  }
h2{
  color: white;
  font-family: 'Raleway', sans-serif ;
  background-color: rgba(0, 0, 0, 0.666);
  text-align: center;
  margin-bottom: 0;
}
p {
  color: white;
  font-family: 'Raleway', sans-serif ;
  text-align: justify;
  margin-top: 0;
  padding-left:10%;
  padding-right: 10%;

}
body{
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

h2 {
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.background{
  position: absolute;
  z-index: -3;
  background-size: cover;
  max-width: 100%;
}
header{
  padding-top: 10px;
}
.bandlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.rotate{
  width: 50%;
  display: block;
  margin: auto;
  position: sticky;
  top: 20vh;
  z-index: -2;
}
#more {
  display: none;
}
#myBtn{
  border-radius: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.gif{
  width: 100%;
}
.release{
  margin: 10%;
  position: relative;
  margin-bottom: 0;
}
.album{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
.triangle{
  z-index: -1;
  position: absolute  ;
  height: auto;
  width: 100%;
  top: -10vw;
}
footer{
    position: fixed;
    bottom: 0;
    left: 10%;
    right: 10%;
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  justify-items: center;
}
.copyright{
  grid-column: 1/5;
}
a, a:hover, a:active, a:visited { color: white; }


/* Animate  */

.rotate {
  animation: rotation 3s infinite linear;
      }
    
  @keyframes rotation {
    from {
      transform: rotate(0deg);
        }
      to {
      transform: rotate(359deg);
        }
      }
    
img {
    max-width: 100%;
}

/* Fonts */


/* Tablet styles */
@media screen and (min-width: 760px)
{

}

/* Desktop styles */
@media screen and (min-width: 1280px){

}

